<div class="card border-light p- shadow-sm">
    <!-- 上半部：大留白的封面區 -->
    <div class="book-cover-box mb-3">
        <!-- 購物車圖示按鈕 -->
        <button type="button" class="btn btn-sm btn-cart" (click)="onAddCart()">
            <i class="bi bi-cart"></i>
        </button>
        <div class="overflow-hidden" style="border-radius: 5px 5px 0 0;">
            <img [src]="bookCard?.coverImageUrl" [alt]="bookCard?.title" loading="lazy"
            (click)="goToBookDetail()" style="width: 100%;" />
        </div>
    </div>

    <!-- 下半部：標題 / 作者 / 價格 -->
    <div class="p-2">
        <h4 class="card-text book-title mb-2" (click)="goToBookDetail()">{{ bookCard?.title }}</h4>
        <h6 class="card-text book-author mb-2">{{ bookCard?.authors }}</h6>
        <div>
            <span class="badge" [ngStyle]="{ 'background-color': getColor(bookCard?.conditionRating ?? '') }">{{ bookCard?.conditionRating }}</span>
        </div>
        <div class="card-text-wrapper">
            <p class="card-text fs-8">特價 NT$
                <span class="fs-5 book-price">{{ bookCard?.salePrice}}</span>
            </p>
        </div>
    </div>
</div>
