<div *ngIf="isAlertVisible" class="add-to-cart-alert-container">
    <nz-alert nzType="success" [nzMessage]="alertMessage" nzShowIcon nzCloseable (nzOnClose)="isAlertVisible = false">
    </nz-alert>
</div>


<div style="padding: 24px; background-color: #F3F2EC; border-bottom: 1px solid #f0f0f0;">
    <div nz-row [nzGutter]="[16, 16]">
    </div>
</div>
<div style="padding: 24px; background-color: #F3F2EC; border-bottom: 1px solid #f0f0f0;">
    <div nz-row [nzGutter]="[16, 16]">
        <div nz-col [nzXs]="24" [nzSm]="8" [nzMd]="6">
            <select class="form-select" [(ngModel)]="selectedCategory" (change)="applyFiltersAndPaginate()"
                style="height: 38px;">
                <option *ngFor="let category of categories" [ngValue]="category.id">
                    {{ category.name }}
                </option>
            </select>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="16" [nzMd]="10">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="搜尋書名、標籤或作者" [(ngModel)]="searchText"
                    (keyup.enter)="applyFiltersAndPaginate()" />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch (click)="applyFiltersAndPaginate()"><span nz-icon
                        nzType="search"></span></button>
            </ng-template>
        </div>
    </div>
    <div nz-row style="margin-top: 16px; align-items: center;">
        <div nz-col>
            <span style="font-size: 14px; color: #888;">熱門標籤：</span>
        </div>
        <div nz-col>
            <nz-tag *ngFor="let tag of hotTags" nzColor="blue" style="cursor: pointer; margin-bottom: 4px;">{{ tag
                }}</nz-tag>
            <a (click)="shuffleTags()" style="margin-left: 8px; font-size: 14px; color: #1890ff; cursor: pointer;">
                <span nz-icon nzType="sync" nzSpin="false"></span>
                換一批
            </a>
        </div>
    </div>
</div>

<div style="padding: 24px; background-color: #F3F2EC;">
    <div nz-row [nzGutter]="[16, 24]">
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6" *ngFor="let book of paginatedBooks">

            <a [routerLink]="['/ebook', book.ebookId]">
                <nz-card class="book-card" nzHoverable [nzCover]="coverTemplate"
                    style="display: flex; flex-direction: column; height: 100%;">
                    <nz-card-meta [nzTitle]="titleTemplate" [nzDescription]="book.author"
                        style="flex-grow: 1;"></nz-card-meta>
                    <div class="price-box">
                        <div *ngIf="!book.actualPrice || book.actualPrice <= 0 || book.actualPrice >= book.fixedPrice">
                            <span class="price-amount">${{ book.fixedPrice }}</span>
                        </div>
                        <div *ngIf="book.actualPrice && book.actualPrice > 0 && book.actualPrice < book.fixedPrice">
                            <span class="list-price strikethrough">${{ book.fixedPrice }}</span>
                            <span class="sale-price">${{ book.actualPrice }}</span>
                        </div>
                    </div>

                    <div style="margin-top: 16px; text-align: center;">
                    </div>
                    <div style="margin-top: 16px; text-align: center;">
                        <button class="card-button" nz-button nzType="primary"
                            (click)="$event.preventDefault(); $event.stopPropagation(); addToCart(book)"
                            style="margin-right: 8px; border-radius: 6px;">
                            <span nz-icon nzType="shopping-cart"></span>
                            加入購物車
                        </button>
                        <a class="card-button" nz-button [routerLink]="['/ebook', book.ebookId]"
                            style="border-radius: 6px;">
                            <span nz-icon nzType="ellipsis"></span>
                            詳細資訊
                        </a>
                    </div>
                    <ng-template #coverTemplate>
                        <img [src]="book.primaryCoverPath" alt="Book cover"
                            style="height: 300px; object-fit: contain; padding: 8px;" />
                    </ng-template>
                    <ng-template #titleTemplate>
                        <a>{{ book.ebookName }}</a>
                    </ng-template>
                </nz-card>
            </a>
        </div>
    </div>

    <div style="text-align: center; width: 100%; display: flex; justify-content: center;">
        <nz-pagination [(nzPageIndex)]="currentPage" [(nzPageSize)]="pageSize" [nzTotal]="totalItems"
            (nzPageIndexChange)="onPageChange($event)">
        </nz-pagination>
    </div>
</div>