<section class="mb-4 pt-2">
    <!-- 標題 -->
    <div class="d-flex align-items-end mb-2">
        <h1 class="m-0" style="font-size: 2rem;">{{ title }}</h1>
        <div class="col text-end">
            <a [href]="moreLink" class="view-more-link d-inline-flex align-items-center">
                查看更多<i class="bi bi-arrow-right ms-1"></i>
            </a>
        </div>
    </div>

    <!-- 商品列表 -->
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-2">
        @for (card of bookCardList; track card.id) {
        <div class="col-12 col-sm-4 col-md-2">
            <app-ub-book-card class="h-100" [bookCard]="card"></app-ub-book-card>
        </div>

        }
    </div>
</section>
