@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Noto+Serif+HK:wght@200..900&display=swap');

.card-hover {
    transition: transform .2s ease, box-shadow .2s ease;
}

.card-hover:hover {
    transform: translateY(-6px);
    box-shadow: 0 .75rem 1.25rem rgba(0, 0, 0, .15);
}

.font-test {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.badge-primary {
    background-color: primary;
}

.fontStyle {
    font-weight: bold;
}
