<div id="header-wrap">
    <div class="top-content py-1">
        <div class="container">
            <div class="row">

                <!-- 左側社交連結 -->
                <div class="col-md-6">
                    <div class="social-links">
                        <ul>
                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                            <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>

                <!-- 右側搜尋框 -->
                <div class="col-md-6">
                    <div class="right-element">
                       <ng-container *ngIf="(me$ | async) as me; else loginLink">
  <div class="user-account for-buy d-inline-flex align-items-center">
    <i class="bi bi-person"></i>
    <span class="ms-1">歡迎，{{ me.name }}</span>
    <button type="button" class="btn btn-link ms-2 p-0 align-baseline" (click)="logout()">登出</button>
  </div>
</ng-container>

<ng-template #loginLink>
  <a routerLink="/login" class="user-account for-buy">
    <i class="bi bi-person"></i><span>登入/註冊</span>
  </a>
</ng-template>
                        <a class="cart for-buy" href="#" data-bs-toggle="offcanvas" data-bs-target="#cartSidebar">
                            <i class="bi bi-clipboard"></i><span>購物車</span>
                            @if ((cartItemCount() ?? 0) > 0) {
                            <span class="badge bg-danger rounded-pill ms-1 position-relative" style="top:-1px;">
                                {{ cartItemCount() }}
                            </span>
                            }
                        </a>

                        <div class="action-menu">
                            <div class="search-bar">
                                <a href="#" class="search-button search-toggle">
                                    <i class="bi bi-search"></i>
                                </a>
                                <form role="search" method="get" class="search-box">
                                    <input class="search-field text search-input" placeholder="搜尋" type="search" />
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
