<div id="header-wrap">
    <div class="top-content py-1">
        <div class="container">
            <div class="row">

                <!-- 左側社交連結 -->
                <div class="col-md-6">
                    <div class="social-links">
                        <ul>
                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                            <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                            <li><a href="#"><i class="bi bi-behance"></i></a></li>
                        </ul>
                    </div>
                </div>

                <!-- 右側搜尋框 -->
                <div class="col-md-6">
                    <div class="right-element">
                        <a href="#" class="user-account for-buy">
                            <i class="bi bi-person"></i><span>我的帳戶</span>
                        </a>
                        <a href="#" class="cart for-buy">
                            <i class="bi bi-clipboard"></i><span>購物車 (NT$ 0)</span>
                        </a>

                        <div class="action-menu">
                            <div class="search-bar">
                                <a href="#" class="search-button search-toggle">
                                    <i class="bi bi-search"></i>
                                </a>
                                <form role="search" method="get" class="search-box">
                                    <input class="search-field text search-input" placeholder="搜尋" type="search" />
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
