<div class="toast-container position-fixed bottom-0 end-0 p-3 pe-4" style="z-index:1080; width:300px;">
    @for (t of svc.toasts(); track t.id) {
    <div class="toast border-0 mb-1 shadow-sm" role="alert" aria-live="polite" aria-atomic="true"
        [attr.data-id]="t.id" [attr.data-bs-delay]="t.delay" [attr.data-bs-autohide]="t.autohide">
        @if (t.header) {
        <div class="toast-header py-1 text-bg-{{t.level}} rounded-top border-0">
            <strong class="text-truncate me-auto">{{ t.header }}</strong>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body text-truncate bg-white text-dark py-1 rounded-bottom">
            {{ t.body }}
        </div>
        }
        @else {
        <div class="toast-body d-flex align-items-center justify-content-between text-bg-{{t.level}} py-1 rounded">
            <span class="text-truncate me-auto">{{ t.body }}</span>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        }
    </div>
    }
</div>
