<h3 class="m-3 mb-3">主題分類管理</h3>

<div class="mx-3 bg-light border rounded-3">

    <!-- 工具列 -->
    <div id="toolbar" class="p-3 border rounded-3 bg-body">

        <!-- 新增分類 -->
        <form class="mb-3" (ngSubmit)="create(inputReq)" autocomplete="off" novalidate>
            <div class="row g-2 align-items-end">
                <div class="col-12 col-md-6">
                    <label for="nameInput" class="form-label mb-1">新增主題分類</label>
                    <input id="nameInput" class="form-control" type="text" name="name" [(ngModel)]="inputReq.name"
                        required maxlength="50" placeholder="名稱">
                </div>

                <div class="col-6 col-sm-3">
                    <div class="form-check form-switch mt-4">
                        <input id="isActive" class="form-check-input" type="checkbox" name="isActive"
                            [(ngModel)]="inputReq.isActive">
                        <label for="isActive" class="form-check-label">啟用</label>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <button type="submit" class="btn btn-primary"
                        [disabled]="!inputReq.name.trim() || loading()">新增</button>
                </div>
            </div>
        </form>
        <div style="height: 2rem;">
            @if (error()) {
            <p class="text-danger my-0">{{ error() }}</p>
            }
        </div>
    </div>

    <!-- 分類列表 -->
    <div id="main-area" class="overflow-auto" style="min-height: 70vh;">
        <ul #sortableList class="category-list p-2">
            @for (t of categoryList(); track t.id){
            <li class="category-item">
                <span class="drag-handle" title="拖曳排序">☰</span>
                <!-- 名稱-->
                @if (!t.isEditing) {
                <span class="category-text btn-link user-select-none" style="cursor: pointer;">{{ t.name
                    }}</span>
                } @else {
                <input class="lh-1" [(ngModel)]="tempName">
                }
                <!-- 編輯按鈕 -->
                @if (!t.isEditing) {
                <button class="btn btn-sm btn-primary" (click)="onEditToggle(t)">編輯</button>
                } @else {
                <button class="btn btn-sm btn-outline-primary" (click)="onEditToggle(t)">確定</button>
                }
                <!-- 啟用按鈕 -->
                @if (t.isActive) {
                <button class="btn btn-sm btn-primary" (click)="updateActiveStatus(t.id, !t.isActive)">啟用中</button>
                } @else {
                <button class="btn btn-sm btn-outline-primary"
                    (click)="updateActiveStatus(t.id, !t.isActive)">未啟用</button>
                }
                <!-- 刪除按鈕 -->
                <button class="btn btn-sm btn-outline-danger" (click)="remove(t.id)"><i class="bi bi-x"></i></button>
            </li>
            }
        </ul>
    </div>

</div>
