<div class="container">
    <h1>我的訂單</h1>
    <nz-spin [nzSpinning]="isLoading">
        <div *ngIf="!isLoading && orders.length > 0">
            <nz-collapse>
                <nz-collapse-panel *ngFor="let order of orders" [nzHeader]="headerTpl" [nzExtra]="extraTpl">

                    <nz-table #itemTable [nzData]="order.items" [nzShowPagination]="false" nzFrontPagination="false">
                        <thead>
                            <tr>
                                <th nzWidth="50%">商品名稱</th>
                                <th nzAlign="right">單價</th>
                                <th nzAlign="center">數量</th>
                                <th nzAlign="right">小計</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of itemTable.data">
                                <td>
                                    <div class="item-info">
                                        <img [src]="item.primaryCoverPath || 'assets/images/default-cover.png'"
                                            [alt]="item.ebookName">
                                        <a [routerLink]="['/ebook', item.ebookId]">{{ item.ebookName }}</a>
                                    </div>
                                </td>
                                <td nzAlign="right">NT$ {{ item.price }}</td>
                                <td nzAlign="center">{{ item.quantity }}</td>
                                <td nzAlign="right">NT$ {{ item.price * item.quantity }}</td>
                            </tr>
                        </tbody>
                    </nz-table>

                    <ng-template #headerTpl>
                        <div class="order-header">
                            <span>訂單日期：{{ order.orderDate }}</span>
                            <span>訂單編號：{{ order.orderId }}</span>
                        </div>
                    </ng-template>

                    <ng-template #extraTpl>
                        <div class="order-extra">
                            <span>狀態：<span [ngClass]="'status-' + order.status">{{ order.status }}</span></span>
                            <span>總金額：<span class="total-amount">NT$ {{ order.totalAmount }}</span></span>
                        </div>
                    </ng-template>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
        <div *ngIf="!isLoading && orders.length === 0" class="no-orders">
            <p>您目前沒有任何訂單記錄。</p>
        </div>
    </nz-spin>
</div>