<div id="header-wrap" class="">

  <div class="top-content">
    <div class="container-fluid">
      <div class="row">

        <!-- 左側社交連結 -->
        <div class="col-md-6">
          <div class="social-links">
            <ul>
              <li><a href="#"><i class="bi bi-facebook"></i></a></li>
              <li><a href="#"><i class="bi bi-twitter"></i></a></li>
              <li><a href="#"><i class="bi bi-youtube"></i></a></li>
              <li><a href="#"><i class="bi bi-behance"></i></a></li>
            </ul>
          </div>
        </div>

        <!-- 右側搜尋框 -->
        <div class="col-md-6">
          <div class="right-element">
            <a href="#" class="user-account for-buy">
              <i class="bi bi-person"></i><span>我的帳戶</span>
            </a>
            <a href="#" class="cart for-buy">
              <i class="bi bi-clipboard"></i><span>購物車 (NT$ 0)</span>
            </a>

            <div class="action-menu">
              <div class="search-bar">
                <a href="#" class="search-button search-toggle">
                  <i class="bi bi-search"></i>
                </a>
                <form role="search" method="get" class="search-box">
                  <input class="search-field text search-input" placeholder="搜尋" type="search" />
                </form>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div><!--top-content-->

  <header id="header">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-2">
          <div class="main-logo">
            <a href="index.html"><img src="assets/images/main-logo.png" alt="logo"></a>
          </div>
        </div>

        <div class="col-md-10">
          <nav id="navbar">
            <div class="main-menu stellarnav">
              <ul class="menu-list">

                <!-- 首頁 -->
                <li class="menu-item">
                  <a href="#">首頁</a>
                </li>

                <!-- 電子書 -->
                <li class="menu-item has-sub">
                  <a href="#" class="nav-link">電子書</a>
                  <ul>
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="index.html">About</a></li>
                    <li><a href="index.html">Styles</a></li>
                    <li><a href="index.html">Blog</a></li>
                  </ul>
                </li>

                <!-- 二手書 -->
                <li class="menu-item">
                  <a href="#" class="nav-link">二手書</a>
                </li>

                <!-- 募資 -->
                <li class="menu-item">
                  <a href="#" class="nav-link">募資</a>
                </li>

                <!-- 論壇 -->
                <li class="menu-item">
                  <a href="#" class="nav-link">論壇</a>
                </li>

                <!-- 會員 -->
                <li class="menu-item">
                  <a href="#" class="nav-link">會員中心</a>
                </li>

              </ul>
            </div>
          </nav>

        </div>

      </div>
    </div>
  </header>
