<div *ngIf="isAlertVisible" 
     class="add-to-cart-alert-container"
     >
    <nz-alert
        nzType="success"
        [nzMessage]="alertMessage"
        nzShowIcon
        nzCloseable
        (nzOnClose)="isAlertVisible = false">
    </nz-alert>
</div>
<div class.bind_entity_id="container" *ngIf="book">
    <div nz-row [nzGutter]="[32, 24]">

        <div nz-col [nzXs]="24" [nzMd]="8" class="book-cover">
            <nz-carousel *ngIf="book.imagePaths && book.imagePaths.length > 1" nzAutoPlay>
                <div nz-carousel-content *ngFor="let imagePath of book.imagePaths">
                    <img [src]="imagePath" [alt]="book.ebookName" class="carousel-image">
                </div>
            </nz-carousel>

            <img *ngIf="!book.imagePaths || book.imagePaths.length <= 1" [src]="book.primaryCoverPath"
                [alt]="book.ebookName" class="single-cover-image">
        </div>

        <div nz-col [nzXs]="24" [nzMd]="16" class="book-info">
            <div class="category-tags" *ngIf="book.categoryName || (book.labels && book.labels.length > 0)">
                <span *ngIf="book.categoryName" class="category">{{ book.categoryName }}</span>
                <span *ngFor="let label of book.labels" class="tag">{{ label }}</span>
            </div>
            <h1>{{ book.ebookName }}</h1>
            <p class="author">作者：{{ book.author }}</p>
            <p class="publisher">出版社：{{ book.publisher }}</p>
            <div class="price">
                <div>
                    <span class="label">定價：</span>
                    <span class="amount" [class.strikethrough]="showStrikethrough">
                        {{ book.fixedPrice }} 元
                    </span>
                </div>

                <div *ngIf="showStrikethrough">
                    <span class="label sale-price-label">售價：</span>
                    <span class="amount sale-price-amount">
                        {{ displayActualPrice }} 元
                    </span>
                </div>
            </div>
            <div class="actions">
                <button nz-button nzType="primary" class="buy-button" (click)="addToCart()">加入購物車</button>
                <a nz-button routerLink="/ebook" style="margin-left: 12px;">返回列表</a>
            </div>
            <div class="book-details-list">
                <h3>詳細資料</h3>
                <p *ngIf="book.language">語言：{{ book.language }}</p>
                <p *ngIf="book.isbn">ISBN：{{ book.isbn }}</p>
                <p *ngIf="book.eisbn">EISBN：{{ book.eisbn }}</p>
                <p *ngIf="book.ebookDataType">檔案格式：{{ book.ebookDataType }}</p>
            </div>
            <div class="description">
                <h3>內容簡介</h3>
                <p>{{ book.bookDescription }}</p>
            </div>
        </div>
    </div>
</div>