<!-- 全站框架 - 頁首 -->
<app-header-wrap></app-header-wrap>

<!-- 這裡會動態顯示對應的 Page 元件 -->
<app-hero-carousel></app-hero-carousel>
<router-outlet></router-outlet>

<!-- 這裡測試那些 bootstrap 樣式被覆寫  -->
<hr>
<h1>頁尾在最下面</h1>
<h2>頁尾在最下面</h2>
<p class="fs-5 text-center mb-2">測試 bootstrap 樣式覆寫</p>
<div class="container d-flex justify-content-center align-items-center bg-dark mb-5" style="height: 100px">
    <p class="my-0 me-2 bg-primary border">d-flex</p>
    <p class="my-0 me-2 bg-secondary border">d-flex</p>
    <p class="my-0 me-2 bg-success border">d-flex</p>
    <p class="my-0 me-2 bg-danger border">d-flex</p>
</div>
<div class="container">
    <p class="fs-5">這裡在 container 裡面</p>
</div>
<div class="container">
    <div class="row mb-5">
        <button class="btn btn-primary sticky-top">BTN</button>
        <button class="btn btn-info">BTN</button>
    </div>
    <div class="row mb-5">

    </div>
</div>
<div class="container mb-5">
    <p>顏色測試</p>
    <p class="text-primary">.text-primary</p>
    <p class="text-secondary bg-dark">.text-secondary</p>
    <p class="text-success">.text-success</p>
    <p class="text-danger">.text-danger</p>
    <p class="text-warning bg-dark">.text-warning</p>
    <p class="text-info bg-dark">.text-info</p>
    <p class="text-light bg-dark">.text-light</p>
    <p class="text-dark">.text-dark</p>
    <p class="text-body">.text-body</p>
    <p class="text-muted">.text-muted</p>
    <p class="text-white bg-dark">.text-white</p>
    <p class="text-black-50">.text-black-50</p>
    <p class="text-white-50 bg-dark">.text-white-50</p>
</div>

<div class="mb-5">

</div>

<!-- 全站框架 - 頁尾 -->
<app-footer-wrap></app-footer-wrap>
