<div class="p-3 vh-100 d-flex flex-column text-white" style="background-color: #6c757d;">

    <a class="" routerLink="./">
        <img src="assets/images/logo/admin-logo.png" alt="logo" class="mb-3">
    </a>
    <hr class="my-2">

    <!-- 導覽清單 -->
    <ul class="nav navbar-dark flex-column w-100">
        <li class="nav-item">
            <button type="button" class="btn btn-secondary w-100 text-start">
                <i class="bi bi-clipboard-data me-2"></i>儀表板
            </button>
        </li>

        <!-- 會員管理 -->
        <li class="nav-item">
            <div class="btn-group dropend w-100">
                <button type="button" class="btn btn-secondary dropdown-toggle w-100 text-start" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="bi bi-people me-2"></i>會員管理
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">帳號設定</a></li>
                    <li><a class="dropdown-item" href="#">系統設定</a></li>
                </ul>
            </div>
        </li>

        <!-- 二手書 -->
        <li class="nav-item">
            <div class="btn-group dropend w-100">
                <button type="button" class="btn btn-secondary dropdown-toggle text-left w-100 text-start" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="bi bi-book-half me-2"></i>二手書管理
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" routerLink="used-book/books">書本列表</a></li>
                    <li><a class="dropdown-item" routerLink="used-book/sale-tags">標籤/分類管理</a></li>
                </ul>
            </div>
        </li>

        <!-- 分析 -->
        <li class="nav-item">
            <div class="btn-group dropend w-100">
                <button type="button" class="btn btn-secondary dropdown-toggle w-100 text-start" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="bi bi-bar-chart me-2"></i>分析
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">書本列表</a></li>
                </ul>
            </div>
        </li>

    </ul>

    <!-- 下方固定 -->
    <div class="mt-auto mb-0">
        <button type="button" class="btn btn-secondary text-start w-100">
            <a routerLink="/" class="text-white">
                <i class="bi bi-house me-2"></i>回前台首頁
            </a>
        </button>

        <hr class="my-3">

        <div class="small text-muted">
            <p class="mb-0 lh-sm">ProBookLand ©<br>2025 All rights reserved.</p>
        </div>
    </div>
</div>
