<section class="mb-5" style="background-color: #EDEBE4;">
    <!-- 此處僅測試用 -->
    <div class="container">
        <button class="btn btn-primary" (click)="tmpClick()">測試查詢</button>
    </div>
    <div class="container p-3">
        <!-- 產品列表 -->
        <div class="row g-2">
            @for (card of bookCardList; track card.id) {
            <div class="col-12 col-sm-4 col-md-2">
                <app-ub-book-card class="h-100" [bookCard]="card"></app-ub-book-card>
            </div>

            }
        </div>

        <!-- 查看更多 -->
        <div class="row mt-2">
            <div class="col text-end">
                <a href="#" class="view-more-link d-inline-flex align-items-center">
                    查看更多<i class="bi bi-arrow-right ms-1"></i>
                </a>
            </div>
        </div>
    </div>
</section>
