<div id="header-wrap" class="">
    <div class="top-content">
        <div class="container-fluid">
            <div class="row">

                <!-- 左側社交連結 -->
                <div class="col-md-6">
                    <div class="social-links">
                        <ul>
                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                            <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                            <li><a href="#"><i class="bi bi-behance"></i></a></li>
                        </ul>
                    </div>
                </div>

                <!-- 右側搜尋框 -->
                <div class="col-md-6">
                    <div class="right-element">
                        <a href="#" class="user-account for-buy">
                            <i class="bi bi-person"></i><span>我的帳戶</span>
                        </a>
                        <a href="#" class="cart for-buy">
                            <i class="bi bi-clipboard"></i><span>購物車 (NT$ 0)</span>
                        </a>

                        <div class="action-menu">
                            <div class="search-bar">
                                <a href="#" class="search-button search-toggle">
                                    <i class="bi bi-search"></i>
                                </a>
                                <form role="search" method="get" class="search-box">
                                    <input class="search-field text search-input" placeholder="搜尋" type="search" />
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div><!--top-content-->

    <header id="header">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md">

                <!-- 左側 LOGO -->
                <a class="navbar-brand" href="#">
                    <img src="assets/images/main-logo.png" alt="logo" class="img-fluid">
                </a>

                <!-- 右側：漢堡鈕 -->
                <div class="ms-auto d-lg-none">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
                        aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <!-- 展開選單 -->
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav ms-auto">

                        <!-- Demo dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                Demo
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" routerLink="demo">DemoPLP</a></li>
                            </ul>
                        </li>

                        <!-- ---------- 以下為各子服務 ---------- -->

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" routerLink="" data-bs-toggle="dropdown">
                                電子書
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" routerLink="">頁簽</a></li>
                                <li><a class="dropdown-item" routerLink="">頁簽</a></li>
                                <li><a class="dropdown-item" routerLink="">頁簽</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" routerLink="" data-bs-toggle="dropdown">
                                論壇
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" routerLink="">頁簽</a></li>
                                <li><a class="dropdown-item" routerLink="">頁簽</a></li>
                                <li><a class="dropdown-item" routerLink="">頁簽</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                募資
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">頁簽</a></li>
                                <li><a class="dropdown-item" href="#">頁簽</a></li>
                                <li><a class="dropdown-item" href="#">頁簽</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                二手書
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" routerLink="used-book/new">新增二手書</a></li>
                                <li><a class="dropdown-item" routerLink="used-book/products">商品列表</a></li>
                                <li><a class="dropdown-item" routerLink="used-book/admin/books">商品詳情</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                會員
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">頁簽</a></li>
                                <li><a class="dropdown-item" href="#">頁簽</a></li>
                                <li><a class="dropdown-item" href="#">頁簽</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </header>

</div>
