<div class="container d-flex align-items-center justify-content-center my-5">
    <button class="btn btn-warning me-3" (click)="onAddCartEbook()">ADD EBook CART</button>
    <button class="btn btn-warning me-3" (click)="onAddCartFund()">ADD Fund CART</button>
    <button class="btn btn-warning me-3" (click)="onClearCart()">Clear CART</button>
</div>
<div class="container d-flex align-items-center justify-content-center my-5">
    <button class="btn btn-warning me-3" (click)="doSomething()">Toast 1</button>
    <button class="btn btn-warning" (click)="doYo()">Toast 2</button>
</div>
<div class="container d-flex align-items-center justify-content-center my-5">
    <button class="btn btn-success" (click)="setCookies()">SetCookies</button>
</div>
